USE [BankofPatagoniaV2 2025_12_1]
/****** Object:  Table [dbo].[Transaction_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transaction_Type]') AND type in (N'U'))
DROP TABLE [dbo].[Transaction_Type]
GO
/****** Object:  View [dbo].[vw_MonthlyInvestmentPerformance]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_MonthlyInvestmentPerformance]
GO
/****** Object:  View [dbo].[vw_ClientInvestmentRank]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_ClientInvestmentRank]
GO
/****** Object:  View [dbo].[vw_FinancialProductStats]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_FinancialProductStats]
GO
/****** Object:  View [dbo].[vw_ClientAccountSummary]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_ClientAccountSummary]
GO
/****** Object:  View [dbo].[vw_HighNetWorthClients]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_HighNetWorthClients]
GO
/****** Object:  View [dbo].[vw_PortfolioDetails]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_PortfolioDetails]
GO
/****** Object:  Table [dbo].[Portfolio_Investment]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Portfolio_Investment]') AND type in (N'U'))
DROP TABLE [dbo].[Portfolio_Investment]
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Portfolio]') AND type in (N'U'))
DROP TABLE [dbo].[Portfolio]
GO
/****** Object:  Table [dbo].[Investment]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Investment]') AND type in (N'U'))
DROP TABLE [dbo].[Investment]
GO
/****** Object:  Table [dbo].[Financial_Product]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Financial_Product]') AND type in (N'U'))
DROP TABLE [dbo].[Financial_Product]
GO
/****** Object:  Table [dbo].[Risk_Profile]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Risk_Profile]') AND type in (N'U'))
DROP TABLE [dbo].[Risk_Profile]
GO
/****** Object:  Table [dbo].[Financial_Product_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Financial_Product_Type]') AND type in (N'U'))
DROP TABLE [dbo].[Financial_Product_Type]
GO
/****** Object:  View [dbo].[vw_AccountMonthlyTransactions]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_AccountMonthlyTransactions]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transaction]') AND type in (N'U'))
DROP TABLE [dbo].[Transaction]
GO
/****** Object:  View [dbo].[vw_HighValueAccounts]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_HighValueAccounts]
GO
/****** Object:  View [dbo].[vw_ClientAccounts]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_ClientAccounts]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account_Type]') AND type in (N'U'))
DROP TABLE [dbo].[Account_Type]
GO
/****** Object:  View [dbo].[vw_ClientWithType]    Script Date: 12/1/2025 7:35:50 PM ******/
DROP VIEW [dbo].[vw_ClientWithType]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Client]') AND type in (N'U'))
DROP TABLE [dbo].[Client]
GO
/****** Object:  Table [dbo].[Client_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Client_Type]') AND type in (N'U'))
DROP TABLE [dbo].[Client_Type]
GO
/****** Object:  Table [dbo].[Client_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Type](
	[client_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[client_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[client_id] [bigint] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[client_type_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ClientWithType]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ClientWithType] AS
SELECT 
    c.client_id,
    c.first_name,
    c.last_name,
    ct.name AS client_type
FROM Client c
INNER JOIN Client_Type ct ON c.client_type_id = ct.client_type_id;
GO
/****** Object:  Table [dbo].[Account_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Type](
	[account_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [bigint] IDENTITY(1,1) NOT NULL,
	[client_id] [bigint] NOT NULL,
	[account_type_id] [bigint] NOT NULL,
	[balance] [decimal](15, 2) NOT NULL,
	[opening_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ClientAccounts]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ClientAccounts] AS
SELECT
    c.client_id,
    c.first_name,
    c.last_name,
    a.account_id,
    at.name AS account_type,
    a.balance
FROM Account a
INNER JOIN Client c ON a.client_id = c.client_id
INNER JOIN Account_Type at ON a.account_type_id = at.account_type_id;
GO
/****** Object:  View [dbo].[vw_HighValueAccounts]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_HighValueAccounts] AS
SELECT *
FROM Account
WHERE balance > (
    SELECT AVG(balance)
    FROM Account
);
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[account_id] [bigint] NOT NULL,
	[transaction_type_id] [bigint] NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[transaction_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AccountMonthlyTransactions]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AccountMonthlyTransactions] AS
SELECT
    a.account_id,
    DATENAME(MONTH, t.transaction_date) AS MonthName,
    YEAR(t.transaction_date) AS Year,
    SUM(
        CASE 
            WHEN t.transaction_type_id IN (1, 3) THEN t.amount
            WHEN t.transaction_type_id IN (2, 4, 5) THEN -t.amount
            ELSE 0
        END
    ) AS NetAmount
FROM [Transaction] t
INNER JOIN Account a ON t.account_id = a.account_id
GROUP BY 
    a.account_id,
    DATENAME(MONTH, t.transaction_date),
    YEAR(t.transaction_date);
GO
/****** Object:  Table [dbo].[Financial_Product_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financial_Product_Type](
	[financial_product_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[financial_product_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Risk_Profile]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Risk_Profile](
	[risk_profile_id] [bigint] IDENTITY(1,1) NOT NULL,
	[risk_level] [nvarchar](20) NOT NULL,
	[return_rate] [decimal](5, 2) NOT NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[risk_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financial_Product]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financial_Product](
	[financial_product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[financial_product_type_id] [bigint] NOT NULL,
	[risk_profile_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[financial_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Investment]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Investment](
	[investment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[transaction_id] [bigint] NOT NULL,
	[financial_product_id] [bigint] NOT NULL,
	[invested_amount] [decimal](15, 2) NOT NULL,
	[investment_date] [date] NOT NULL,
	[performance] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[investment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio](
	[portfolio_id] [bigint] IDENTITY(1,1) NOT NULL,
	[client_id] [bigint] NOT NULL,
	[total_invested] [decimal](15, 2) NULL,
	[total_return] [decimal](15, 2) NULL,
	[last_updated] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[portfolio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio_Investment]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio_Investment](
	[portfolio_investment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[portfolio_id] [bigint] NOT NULL,
	[investment_id] [bigint] NOT NULL,
	[allocation_percentage] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[portfolio_investment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PortfolioDetails]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PortfolioDetails] AS
SELECT 
    p.portfolio_id,
    c.first_name,
    c.last_name,
    fp.name AS financial_product,
    fpt.name AS product_type,
    rp.risk_level,
    i.invested_amount,
    i.performance
FROM Portfolio p
INNER JOIN Client c ON p.client_id = c.client_id
INNER JOIN Portfolio_Investment pi ON p.portfolio_id = pi.portfolio_id
INNER JOIN Investment i ON pi.investment_id = i.investment_id
INNER JOIN Financial_Product fp ON i.financial_product_id = fp.financial_product_id
INNER JOIN Financial_Product_Type fpt ON fp.financial_product_type_id = fpt.financial_product_type_id
INNER JOIN Risk_Profile rp ON fp.risk_profile_id = rp.risk_profile_id;
GO
/****** Object:  View [dbo].[vw_HighNetWorthClients]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_HighNetWorthClients] AS
SELECT *
FROM (
    SELECT 
        c.client_id,
        c.first_name,
        c.last_name,
        SUM(i.invested_amount) AS TotalInvested
    FROM Client c
    INNER JOIN Portfolio p ON c.client_id = p.client_id
    INNER JOIN Portfolio_Investment pi ON p.portfolio_id = pi.portfolio_id
    INNER JOIN Investment i ON pi.investment_id = i.investment_id
    GROUP BY c.client_id, c.first_name, c.last_name
) sub
WHERE sub.TotalInvested > 10000;
GO
/****** Object:  View [dbo].[vw_ClientAccountSummary]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ClientAccountSummary] AS
SELECT
    c.client_id,
    c.first_name,
    c.last_name,
    COUNT(a.account_id) AS total_accounts,
    CASE 
        WHEN COUNT(a.account_id) = 0 THEN 'No Accounts'
        WHEN COUNT(a.account_id) = 1 THEN 'Single Account'
        ELSE 'Multiple Accounts'
    END AS account_status
FROM Client c
LEFT JOIN Account a ON c.client_id = a.client_id
GROUP BY c.client_id, c.first_name, c.last_name;
GO
/****** Object:  View [dbo].[vw_FinancialProductStats]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_FinancialProductStats] AS
WITH ProductStats AS (
    SELECT
        fp.financial_product_id,
        fp.name AS product_name,
        COUNT(i.investment_id) AS number_of_investors,
        AVG(i.invested_amount) AS avg_investment,
        SUM(i.invested_amount) AS total_invested
    FROM Financial_Product fp
    LEFT JOIN Investment i ON fp.financial_product_id = i.financial_product_id
    GROUP BY fp.financial_product_id, fp.name
)
SELECT *
FROM ProductStats;
GO
/****** Object:  View [dbo].[vw_ClientInvestmentRank]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ClientInvestmentRank] AS
SELECT
    sub.client_id,
    sub.first_name,
    sub.last_name,
    sub.total_invested,
    RANK() OVER (ORDER BY sub.total_invested DESC) AS investment_rank
FROM (
    SELECT
        c.client_id,
        c.first_name,
        c.last_name,
        SUM(i.invested_amount) AS total_invested
    FROM Client c
    INNER JOIN Portfolio p ON c.client_id = p.client_id
    INNER JOIN Portfolio_Investment pi ON p.portfolio_id = pi.portfolio_id
    INNER JOIN Investment i ON pi.investment_id = i.investment_id
    GROUP BY c.client_id, c.first_name, c.last_name
) sub;
GO
/****** Object:  View [dbo].[vw_MonthlyInvestmentPerformance]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_MonthlyInvestmentPerformance] AS
WITH InvestmentData AS (
    SELECT
        c.client_id,
        c.first_name,
        c.last_name,
        fpt.name AS product_type,
        rp.risk_level,
        i.invested_amount,
        i.performance,
        DATEFROMPARTS(YEAR(i.investment_date), MONTH(i.investment_date), 1) AS invest_month
    FROM Client c
    INNER JOIN Portfolio p ON c.client_id = p.client_id
    INNER JOIN Portfolio_Investment pi ON p.portfolio_id = pi.portfolio_id
    INNER JOIN Investment i ON pi.investment_id = i.investment_id
    INNER JOIN Financial_Product fp ON i.financial_product_id = fp.financial_product_id
    INNER JOIN Financial_Product_Type fpt ON fp.financial_product_type_id = fpt.financial_product_type_id
    INNER JOIN Risk_Profile rp ON fp.risk_profile_id = rp.risk_profile_id
),
MonthlyPerformance AS (
    SELECT
        client_id,
        first_name,
        last_name,
        product_type,
        risk_level,
        invest_month,
        SUM(invested_amount) AS total_invested,
        AVG(performance) AS avg_performance
    FROM InvestmentData
    GROUP BY 
        client_id, first_name, last_name,
        product_type, risk_level, invest_month
)
SELECT *,
    RANK() OVER (
        PARTITION BY invest_month
        ORDER BY avg_performance DESC
    ) AS monthly_rank
FROM MonthlyPerformance;
GO
/****** Object:  Table [dbo].[Transaction_Type]    Script Date: 12/1/2025 7:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Type](
	[transaction_type_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [client_id], [account_type_id], [balance], [opening_date]) VALUES (1, 30, 1, CAST(26868.52 AS Decimal(15, 2)), CAST(N'2023-10-27' AS Date))
INSERT [dbo].[Account] ([account_id], [client_id], [account_type_id], [balance], [opening_date]) VALUES (2, 3, 4, CAST(277.83 AS Decimal(15, 2)), CAST(N'2024-10-15' AS Date))
INSERT [dbo].[Account] ([account_id], [client_id], [account_type_id], [balance], [opening_date]) VALUES (3, 8, 4, CAST(29537.13 AS Decimal(15, 2)), CAST(N'2023-08-06' AS Date))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Account_Type] ON 

INSERT [dbo].[Account_Type] ([account_type_id], [name], [description]) VALUES (1, N'Checking', N'Standard checking account')
INSERT [dbo].[Account_Type] ([account_type_id], [name], [description]) VALUES (2, N'Savings', N'Standard savings account')
INSERT [dbo].[Account_Type] ([account_type_id], [name], [description]) VALUES (3, N'Business', N'Business account')
SET IDENTITY_INSERT [dbo].[Account_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([client_id], [first_name], [last_name], [email], [address], [client_type_id]) VALUES (1, N'Casey', N'Johnson', N'casey.johnson0@mail.com', N'197 Main St', 4)
INSERT [dbo].[Client] ([client_id], [first_name], [last_name], [email], [address], [client_type_id]) VALUES (2, N'Jane', N'Moore', N'jane.moore1@mail.com', N'938 Main St', 5)
INSERT [dbo].[Client] ([client_id], [first_name], [last_name], [email], [address], [client_type_id]) VALUES (3, N'Casey', N'Taylor', N'casey.taylor2@mail.com', N'272 Main St', 3)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Client_Type] ON 

INSERT [dbo].[Client_Type] ([client_type_id], [name], [description]) VALUES (1, N'Standard', N'Standard client type')
INSERT [dbo].[Client_Type] ([client_type_id], [name], [description]) VALUES (2, N'Premium', N'Premium client type')
INSERT [dbo].[Client_Type] ([client_type_id], [name], [description]) VALUES (3, N'VIP', N'VIP client type')
SET IDENTITY_INSERT [dbo].[Client_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Financial_Product] ON 

INSERT [dbo].[Financial_Product] ([financial_product_id], [name], [financial_product_type_id], [risk_profile_id]) VALUES (1, N'Product_0', 2, 2)
INSERT [dbo].[Financial_Product] ([financial_product_id], [name], [financial_product_type_id], [risk_profile_id]) VALUES (2, N'Product_1', 1, 4)
INSERT [dbo].[Financial_Product] ([financial_product_id], [name], [financial_product_type_id], [risk_profile_id]) VALUES (3, N'Product_2', 4, 3)
SET IDENTITY_INSERT [dbo].[Financial_Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Financial_Product_Type] ON 

INSERT [dbo].[Financial_Product_Type] ([financial_product_type_id], [name], [description]) VALUES (1, N'Stock', N'Equity product')
INSERT [dbo].[Financial_Product_Type] ([financial_product_type_id], [name], [description]) VALUES (2, N'Bond', N'Debt product')
INSERT [dbo].[Financial_Product_Type] ([financial_product_type_id], [name], [description]) VALUES (3, N'Mutual Fund', N'Managed portfolio product')
SET IDENTITY_INSERT [dbo].[Financial_Product_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Investment] ON 

INSERT [dbo].[Investment] ([investment_id], [transaction_id], [financial_product_id], [invested_amount], [investment_date], [performance]) VALUES (1, 42, 24, CAST(1435.21 AS Decimal(15, 2)), CAST(N'2024-09-29' AS Date), CAST(14.86 AS Decimal(5, 2)))
INSERT [dbo].[Investment] ([investment_id], [transaction_id], [financial_product_id], [invested_amount], [investment_date], [performance]) VALUES (2, 36, 15, CAST(2218.48 AS Decimal(15, 2)), CAST(N'2023-01-18' AS Date), CAST(-1.09 AS Decimal(5, 2)))
INSERT [dbo].[Investment] ([investment_id], [transaction_id], [financial_product_id], [invested_amount], [investment_date], [performance]) VALUES (3, 27, 10, CAST(4602.46 AS Decimal(15, 2)), CAST(N'2023-07-05' AS Date), CAST(17.34 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Investment] OFF
GO
SET IDENTITY_INSERT [dbo].[Portfolio] ON 

INSERT [dbo].[Portfolio] ([portfolio_id], [client_id], [total_invested], [total_return], [last_updated]) VALUES (1, 3, CAST(2119.21 AS Decimal(15, 2)), CAST(1922.63 AS Decimal(15, 2)), CAST(N'2023-04-03' AS Date))
INSERT [dbo].[Portfolio] ([portfolio_id], [client_id], [total_invested], [total_return], [last_updated]) VALUES (2, 11, CAST(18669.46 AS Decimal(15, 2)), CAST(548.28 AS Decimal(15, 2)), CAST(N'2023-03-15' AS Date))
INSERT [dbo].[Portfolio] ([portfolio_id], [client_id], [total_invested], [total_return], [last_updated]) VALUES (3, 44, CAST(8091.11 AS Decimal(15, 2)), CAST(4722.86 AS Decimal(15, 2)), CAST(N'2023-07-12' AS Date))
SET IDENTITY_INSERT [dbo].[Portfolio] OFF
GO
SET IDENTITY_INSERT [dbo].[Portfolio_Investment] ON 

INSERT [dbo].[Portfolio_Investment] ([portfolio_investment_id], [portfolio_id], [investment_id], [allocation_percentage]) VALUES (1, 36, 20, CAST(3.47 AS Decimal(5, 2)))
INSERT [dbo].[Portfolio_Investment] ([portfolio_investment_id], [portfolio_id], [investment_id], [allocation_percentage]) VALUES (2, 23, 9, CAST(97.73 AS Decimal(5, 2)))
INSERT [dbo].[Portfolio_Investment] ([portfolio_investment_id], [portfolio_id], [investment_id], [allocation_percentage]) VALUES (3, 21, 8, CAST(44.88 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Portfolio_Investment] OFF
GO
SET IDENTITY_INSERT [dbo].[Risk_Profile] ON 

INSERT [dbo].[Risk_Profile] ([risk_profile_id], [risk_level], [return_rate], [description]) VALUES (1, N'Low', CAST(2.50 AS Decimal(5, 2)), N'Low risk, stable returns')
INSERT [dbo].[Risk_Profile] ([risk_profile_id], [risk_level], [return_rate], [description]) VALUES (2, N'Moderate', CAST(5.00 AS Decimal(5, 2)), N'Moderate risk level')
INSERT [dbo].[Risk_Profile] ([risk_profile_id], [risk_level], [return_rate], [description]) VALUES (3, N'High', CAST(8.50 AS Decimal(5, 2)), N'High risk/reward')
SET IDENTITY_INSERT [dbo].[Risk_Profile] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([transaction_id], [account_id], [transaction_type_id], [amount], [transaction_date]) VALUES (1, 18, 2, CAST(341.10 AS Decimal(15, 2)), CAST(N'2023-06-02' AS Date))
INSERT [dbo].[Transaction] ([transaction_id], [account_id], [transaction_type_id], [amount], [transaction_date]) VALUES (2, 8, 4, CAST(595.62 AS Decimal(15, 2)), CAST(N'2023-08-05' AS Date))
INSERT [dbo].[Transaction] ([transaction_id], [account_id], [transaction_type_id], [amount], [transaction_date]) VALUES (3, 23, 3, CAST(914.75 AS Decimal(15, 2)), CAST(N'2023-08-19' AS Date))
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction_Type] ON 

INSERT [dbo].[Transaction_Type] ([transaction_type_id], [name], [description]) VALUES (1, N'Deposit', N'Money added')
INSERT [dbo].[Transaction_Type] ([transaction_type_id], [name], [description]) VALUES (2, N'Withdrawal', N'Money removed')
INSERT [dbo].[Transaction_Type] ([transaction_type_id], [name], [description]) VALUES (3, N'Transfer', N'Transfer between accounts')
SET IDENTITY_INSERT [dbo].[Transaction_Type] OFF
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([account_type_id])
REFERENCES [dbo].[Account_Type] ([account_type_id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[Client] ([client_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD FOREIGN KEY([client_type_id])
REFERENCES [dbo].[Client_Type] ([client_type_id])
GO
ALTER TABLE [dbo].[Financial_Product]  WITH CHECK ADD FOREIGN KEY([financial_product_type_id])
REFERENCES [dbo].[Financial_Product_Type] ([financial_product_type_id])
GO
ALTER TABLE [dbo].[Financial_Product]  WITH CHECK ADD FOREIGN KEY([risk_profile_id])
REFERENCES [dbo].[Risk_Profile] ([risk_profile_id])
GO
ALTER TABLE [dbo].[Investment]  WITH CHECK ADD FOREIGN KEY([financial_product_id])
REFERENCES [dbo].[Financial_Product] ([financial_product_id])
GO
ALTER TABLE [dbo].[Investment]  WITH CHECK ADD FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Transaction] ([transaction_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Portfolio]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[Client] ([client_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Portfolio_Investment]  WITH CHECK ADD FOREIGN KEY([investment_id])
REFERENCES [dbo].[Investment] ([investment_id])
GO
ALTER TABLE [dbo].[Portfolio_Investment]  WITH CHECK ADD FOREIGN KEY([portfolio_id])
REFERENCES [dbo].[Portfolio] ([portfolio_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([transaction_type_id])
REFERENCES [dbo].[Transaction_Type] ([transaction_type_id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([balance]>=(0)))
GO
ALTER TABLE [dbo].[Risk_Profile]  WITH CHECK ADD CHECK  (([return_rate]>=(0)))
GO
